<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="restriccion">
            <h2><span jhiTranslate="comparendosApp.restriccion.detail.title">Restriccion</span> {{ restriccion.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="comparendosApp.restriccion.tipo">Tipo</span></dt>
                <dd>
                    <span>{{ restriccion.tipo }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/restriccion', restriccion.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
