<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-comparendo-heading" jhiTranslate="comparendosApp.comparendo.home.createOrEditLabel">Create or edit a Comparendo</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.fechaHora" for="field_fechaHora">Fecha Hora</label>
                    <div class="d-flex">
                        <input id="field_fechaHora" type="datetime-local" class="form-control" name="fechaHora" formControlName="fechaHora" placeholder="YYYY-MM-DD HH:mm"/>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.direccion" for="field_direccion">Direccion</label>
                    <input type="text" class="form-control" name="direccion" id="field_direccion"
                           formControlName="direccion"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.observaciones" for="field_observaciones">Observaciones</label>
                    <input type="text" class="form-control" name="observaciones" id="field_observaciones"
                           formControlName="observaciones"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.codigoInmovilizacion" for="field_codigoInmovilizacion">Codigo Inmovilizacion</label>
                    <input type="text" class="form-control" name="codigoInmovilizacion" id="field_codigoInmovilizacion"
                           formControlName="codigoInmovilizacion"/>
                </div>

                <div class="form-group">
                    <label jhiTranslate="comparendosApp.comparendo.infracciones" for="field_infracciones">Infracciones</label>
                    <select class="form-control" id="field_infracciones" multiple name="infracciones" formControlName="infracciones">
                        <option [ngValue]="getSelected(editForm.get('infracciones')!.value, infraccionOption)" *ngFor="let infraccionOption of infraccions; trackBy: trackById">{{ infraccionOption.id }}</option>
                    </select>
                </div>
                <div *ngIf="editForm.get('infracciones')!.invalid && (editForm.get('infracciones')!.dirty || editForm.get('infracciones')!.touched)">
                    <small class="form-text text-danger"
                           *ngIf="editForm.get('infracciones')?.errors?.required" jhiTranslate="entity.validation.required">
                        This field is required.
                    </small>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.estado" for="field_estado">Estado</label>
                    <select class="form-control" id="field_estado" name="estado" formControlName="estadoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="estadoComparendoOption.id" *ngFor="let estadoComparendoOption of estadocomparendos; trackBy: trackById">{{ estadoComparendoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.vehiculo" for="field_vehiculo">Vehiculo</label>
                    <select class="form-control" id="field_vehiculo" name="vehiculo" formControlName="vehiculoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vehiculoOption.id" *ngFor="let vehiculoOption of vehiculos; trackBy: trackById">{{ vehiculoOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.licenciaTransito" for="field_licenciaTransito">Licencia Transito</label>
                    <select class="form-control" id="field_licenciaTransito" name="licenciaTransito" formControlName="licenciaTransitoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="licenciaOption.id" *ngFor="let licenciaOption of licencias; trackBy: trackById">{{ licenciaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.licenciaConduccion" for="field_licenciaConduccion">Licencia Conduccion</label>
                    <select class="form-control" id="field_licenciaConduccion" name="licenciaConduccion" formControlName="licenciaConduccionId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="licenciaOption.id" *ngFor="let licenciaOption of licencias; trackBy: trackById">{{ licenciaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.agente" for="field_agente">Agente</label>
                    <select class="form-control" id="field_agente" name="agente" formControlName="agenteId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="agenteOption.id" *ngFor="let agenteOption of agentes; trackBy: trackById">{{ agenteOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.ciudad" for="field_ciudad">Ciudad</label>
                    <select class="form-control" id="field_ciudad" name="ciudad" formControlName="ciudadId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="ciudadOption.id" *ngFor="let ciudadOption of ciudads; trackBy: trackById">{{ ciudadOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.infractor" for="field_infractor">Infractor</label>
                    <select class="form-control" id="field_infractor" name="infractor" formControlName="infractorId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personaOption.id" *ngFor="let personaOption of personas; trackBy: trackById">{{ personaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.testigo" for="field_testigo">Testigo</label>
                    <select class="form-control" id="field_testigo" name="testigo" formControlName="testigoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="personaOption.id" *ngFor="let personaOption of personas; trackBy: trackById">{{ personaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.patio" for="field_patio">Patio</label>
                    <select class="form-control" id="field_patio" name="patio" formControlName="patioId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="patioOption.id" *ngFor="let patioOption of patios; trackBy: trackById">{{ patioOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.grua" for="field_grua">Grua</label>
                    <select class="form-control" id="field_grua" name="grua" formControlName="gruaId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="gruaOption.id" *ngFor="let gruaOption of gruas; trackBy: trackById">{{ gruaOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.comparendo.entidad" for="field_entidad">Entidad</label>
                    <select class="form-control" id="field_entidad" name="entidad" formControlName="entidadId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="entidadOption.id" *ngFor="let entidadOption of entidads; trackBy: trackById">{{ entidadOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
