<div>
    <h2 id="page-heading">
        <span jhiTranslate="comparendosApp.entidad.home.title">Entidads</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-entidad" [routerLink]="['/entidad/new']">
            <fa-icon icon="plus"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="comparendosApp.entidad.home.createLabel">
            Create a new Entidad
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'comparendosApp.entidad.home.search' | translate }}">

                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon icon="search"></fa-icon>
                    </button>

                    <button class="input-group-append btn btn-danger" (click)="search('')" *ngIf="currentSearch">
                        <fa-icon icon="trash-alt"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>

    <div class="alert alert-warning" id="no-result" *ngIf="entidads?.length === 0">
        <span jhiTranslate="comparendosApp.entidad.home.notFound">No entidads found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="entidads && entidads.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="nombre"><span jhiTranslate="comparendosApp.entidad.nombre">Nombre</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="direccion"><span jhiTranslate="comparendosApp.entidad.direccion">Direccion</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="telefono"><span jhiTranslate="comparendosApp.entidad.telefono">Telefono</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="celular"><span jhiTranslate="comparendosApp.entidad.celular">Celular</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="email"><span jhiTranslate="comparendosApp.entidad.email">Email</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="ciudadId"><span jhiTranslate="comparendosApp.entidad.ciudad">Ciudad</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let entidad of entidads ;trackBy: trackId">
                    <td><a [routerLink]="['/entidad', entidad.id, 'view']">{{ entidad.id }}</a></td>
                    <td>{{ entidad.nombre }}</td>
                    <td>{{ entidad.direccion }}</td>
                    <td>{{ entidad.telefono }}</td>
                    <td>{{ entidad.celular }}</td>
                    <td>{{ entidad.email }}</td>
                    <td>
                        <div *ngIf="entidad.ciudadId">
                            <a [routerLink]="['/ciudad', entidad.ciudadId , 'view']" >{{ entidad.ciudadId }}</a>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/entidad', entidad.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/entidad', entidad.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(entidad)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="entidads && entidads.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
