<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-grua-heading" jhiTranslate="comparendosApp.grua.home.createOrEditLabel">Create or edit a Grua</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.grua.codigo" for="field_codigo">Codigo</label>
                    <input type="text" class="form-control" name="codigo" id="field_codigo"
                           formControlName="codigo"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="comparendosApp.grua.vehiculo" for="field_vehiculo">Vehiculo</label>
                    <select class="form-control" id="field_vehiculo" name="vehiculo" formControlName="vehiculoId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="vehiculoOption.id" *ngFor="let vehiculoOption of vehiculos; trackBy: trackById">{{ vehiculoOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
