<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="grua">
            <h2><span jhiTranslate="comparendosApp.grua.detail.title">Grua</span> {{ grua.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="comparendosApp.grua.codigo">Codigo</span></dt>
                <dd>
                    <span>{{ grua.codigo }}</span>
                </dd>
                <dt><span jhiTranslate="comparendosApp.grua.vehiculo">Vehiculo</span></dt>
                <dd>
                    <div *ngIf="grua.vehiculoId">
                        <a [routerLink]="['/vehiculo', grua.vehiculoId, 'view']">{{ grua.vehiculoId }}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/grua', grua.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
